body {
  font-size: 14px;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

ol.list-group {
    list-style: decimal inside;
}

ol li.list-group-item {
    display: list-item;
}

.trash, .pencil, .star {
  padding: 0px 4px;
  cursor: pointer;
}

.trash:hover {
  color: crimson;
}

.pencil:hover {
  color: lightskyblue;
}

#articles li:hover {
  background-color: lightgray;
}